html {
    background-color: #ffffff;
    color: #2f2e2e;
    font-family: Georgia,Times,Times New Roman,serif;
}

body {
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
}

ul {
    font-size: 1.2em;
    text-align: left;
}

.dash-list {
    list-style-type: "-";
    padding-inline-start: 1em;
}

.header {
    font-weight: bold;
    font-size: 2em !important;
    margin: 0 0 0 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em !important;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.sub-title {
    font-weight: bold;
    text-align: center;
    font-size: 2em !important;
    margin-top: 0.5em;
}

.splide {
    border: 1px solid #090f16;
}

.shadow {
    border-radius: 5px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

.back2 {
    background-color: #f6f7f9;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

#main > div {
    padding-left: 2em;
    padding-right: 2em;
}

#info-bar {
    width: 100%;
    background-color: #090f16;
    position: relative;
    color: white;
    padding: 1em;
}

#info-bar a {
    color: #9edefd;
}

#info-bar a:hover {
    color: #d7f2ff;
}

#info-bar a:visited {
    color: #9edefd;
}

#info-bar .inline {
    padding-left: 2em;
    padding-right: 2em;
}

@media (min-width: 1000px) {
    #info-bar {
        position: fixed;
        right: 0px;
        top: 0px;
        width:15em;
        height: 100%;
    }

    #info-bar .inline {
        padding-left: 0;
        padding-right: 0;
    }

    #main {
        margin-right: 17em;
    }
}

@media (max-width: 670px) {
    iframe {
        width: 100%;
    }

    li img {
        width: 100%;
    }
}