html {
    background-color: #ffffff;
    color: #44668d;
    font-family: Georgia, Times, Times New Roman, serif;
}

body {
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: #2fa1da;
}

a:hover {
    color: #92dbff;
}

img {
    user-select: none;
}

ul {
    font-size: 1.2em;
    text-align: left;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #174166;
}

::-webkit-scrollbar-thumb {
    background: #9edefd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d7f2ff;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation: 1s ease-out 0s 1 fadeIn;
}

span, a {
    display: inline-block;
}

.link-a {
    display: block;
}

span > span {
    animation: none !important;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade-up-anim {
    animation: 1s ease-out 0s 1 fadeUp;
}

.fade-up-anim-ready {
    opacity: 0;
    transform: translateY(50px);
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-left-anim{
    animation: 1s ease-out 0s 1 fadeLeft;
}

.fade-left-anim-ready {
    opacity: 0;
        transform: translateX(50px);
}

.dash-list {
    list-style-type: "-";
    padding-inline-start: 1em;
}

.header {
    font-weight: bold;
    font-size: 2em !important;
    margin: 0 0 0 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #0b5394;
}

.header-small {
    font-size: 1.5em !important;
}

.title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em !important;
    margin-top: 0;
    margin-bottom: 0.25em;
    color: #0b5394;
}

.sub-title {
    font-weight: bold;
    text-align: center;
    font-size: 2em !important;
    margin-top: 0.5em;
    color: #0b5394;
}

.splide {
    border: 1px solid #090f16;
}

.shadow {
    border-radius: 5px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

.back2 {
    background-color: #75809b1f;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

#hamburger-button {
    position: fixed;
    z-index: 100;
    height: 32px;
    width: 32px;
    background-color: #174166cc;
}

#hamburger-button:hover {
    background-color: #174166;
}

#top-nav {
    text-align: left;
    background-color: #174166cc;
    position: fixed;
    z-index: 100;
    width: 7em;
    height: 10em;
    user-select: none;
}

#top-nav span {
    vertical-align: middle;
}

#top-nav div {
    color: #9edefd;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    text-align: center;
}

#top-nav div:hover {
    background-color: #174166;
    color: #ffffff;
}

#top-nav a {
    vertical-align: -webkit-baseline-middle;
}

@media (min-width: 550px) {
    #top-nav {
        text-align: left;
        background-color: #174166cc;
        position: fixed;
        width: 100%;
        height: 2em;
    }

    #top-nav span {
        line-height: 2em;
    }

    #top-nav div {
        display: inline-block;
        height: 100%;
    }
}

#main>div {
    padding-left: 2em;
    padding-right: 2em;
}

#info-bar {
    width: 100%;
    background-color: #174166;
    position: relative;
    color: white;
}

#info-bar a {
    color: #9edefd;
}

#info-bar a:hover {
    color: #ffffff;
}

#info-bar .inline {
    padding-left: 2em;
    padding-right: 2em;
}

#toggle-hamburger {
    position: fixed;
    top: 2px;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin: 0;
}

#toggle-hamburger span {
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background: #174166;
    display: block;
    margin-top: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navigation-menu {
    height: 100%;
    list-style: none;
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: -9em;
    width: 8em;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(6px);
    background-color: #ffffff77;
    overflow-wrap: break-word;
    user-select: none;
}


.navigation-menu li:nth-of-type(2n) {
    background: #dddddd77;
}

.navigation-menu li:hover {
    background: #bbbbbb77;
}

.navigation-menu a {
    color: #2fa1da;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
    padding: 0.5em 0 0.5em 0;
}

.navbar {
    position: fixed;
    z-index: 100;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Hide the checkbox */
#toggle {
    display: none;
}

/* Use this label to toggle the sliding menu */
label[for="toggle"] {
    cursor: pointer;
}

/* Slide menu when checkbox is checked */
input#toggle:checked+ul.navigation-menu {
    left: 0;
}

/* Also slide content when checkbox is checked */
input#toggle:checked~.content {
    left: -45%;
}

input#toggle:checked~.navbar {
    left: 10em;
}


@media (min-width: 1000px) {
    #info-bar {
        position: fixed;
        right: 0px;
        top: 0px;
        width: 15em;
        height: 100%;
    }

    #info-bar .inline {
        padding-left: 0;
        padding-right: 0;
    }

    #top-nav {
        margin-right: 15em;
    }

    #main {
        margin-right: 15em;
    }

    #contact-link {
        display: none !important;
    }
}

@media (max-width: 670px) {
    iframe {
        width: 100%;
    }

    li img {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}


.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #44668d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

.container::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -12px;
    background-color: #44668d;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 10%;
}

.right {
    left: 50%;
}

.left > .content::before {
    content: " ";
    height: 16px;
    position: absolute;
    top: 22px;
    width: 16px;
    z-index: 1;
    right: -8px;
    transform: rotate(45deg);
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    clip-path: polygon(0px 0px, 0px 0px, 30px 0px, 30px 30px);
}

.right > .content::before {
    content: " ";
    height: 16px;
    position: absolute;
    top: 22px;
    width: 16px;
    z-index: 1;
    left: -8px;
    transform: rotate(225deg);
    background-color: #ffffff;
    box-shadow: -3px 0px 6px rgb(0 0 0 / 16%), -3px 0px 6px rgb(0 0 0 / 23%);
    clip-path: polygon(-10px -10px, -10px -10px, 30px -10px, 30px 30px);
}

.right::after {
    left: -12px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: grid;
    grid-template-columns: 4em 1fr;
    transition: all ease-in-out 0.2s;
}


.content:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}


@media screen and (max-width: 900px) {
    .timeline::after {
        left: 27px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .left {
        left: 0%;
    }

    .left > .content::before {
        left: -8px;
        transform: rotate(225deg);
        box-shadow: -3px 0px 6px rgb(0 0 0 / 16%), -3px 0px 6px rgb(0 0 0 / 23%);
        clip-path: polygon(-10px -10px, -10px -10px, 30px -10px, 30px 30px);
    }
}