

<footer class="fade-in flex flex-col lg:flex-row lg:justify-between text-t-dark py-4 lg:px-16 border-t border-t-dark">
    <p>Built with <a href="https://astro.build/">Astro</a>, <a href="https://tailwindcss.com/">tailwindcss</a>, and <a href="https://www.astroicon.dev/">Astro Icon</a>. Design inspired by <a href="https://saadtariq.vercel.app">Saad Tariq</a>, icons by <a href="https://github.com/catppuccin/vscode-icons/tree/main/icons/macchiato">Catppuccin</a> and <a href="https://devicon.dev/">Konpa</a></p>
    <small>Created by James Nickoli</small><br>
    <small>Copyright &copy; <span id="copyright"></span>. All rights reserved</small>
</footer>

<script>
    document.querySelector("#copyright")!.textContent = new Date().getFullYear().toString();
</script>