

<footer class="text-center mt-auto py-4">
    <p>Icons: <a href="https://github.com/catppuccin/vscode-icons">macchiato by catppuccin</a></p>
    <p>Built with <a href="https://astro.build/">Astro</a>, <a href="https://tailwindcss.com/">tailwindcss</a>, and <a href="https://www.astroicon.dev/">Astro Icon</a></p>
    <small>Created by James Nickoli</small><br>
    <small>Copyright &copy; <span id="copyright"></span>. All rights reserved</small>
</footer>

<script>
    document.querySelector("#copyright")!.textContent = new Date().getFullYear().toString();
</script>