---
interface Props {
    tech: string;
    custom?: boolean;
}

const { tech, custom }: Props = Astro.props;

import { Icon }  from "astro-icon/components";

---

<div class={`tech-icon px-1 py-1 text-sm rounded`}>
    <Icon name={`${custom ? "" : "macchiato/"}${tech}`} size={32}/>
    <span >{tech}</span>
</div>